.grid-block {
  transition: fill 0.5s;
  fill: transparent;
}

.grid-block-flash {
  /* Snap immeidately to this state.
     But then transition out based on the
     transitions for original classes */
  transition: none;

  stroke-width: 1;
  stroke: #FFFFFF22;
  fill: #C4C4C422;
}

.piece-block {
  transition: none;
  stroke: #ffffff;
}

.cannot-place {
  fill-opacity: 0.5;
  stroke: #232323;
}
